// Office Panel

//----------------------------//
body[id^="page-office"]
{
    // Main Body Content
    #office-content-body {

        background: $blue-color;
    }

    #office-settings-sidebar-card,
    #office-calendar-sidebar-card,
    #office-settings-rep-visits-sidebar-card,
    #office-messges-sidebar-card,
    #office-reps-database-sidebar-card
    {
        @include media-breakpoint-up(md)
        {
            max-width: rem(250);
        }
    }

    // Breadcrumbs
    .md-breadcrumbs {

        .breadcrumb {
            background: $blue-color;

            .breadcrumb-item {

                color: $white;

                .active {
                    color: $light-blue-color;
                }
            }
        }
    }

    // Reps
    #office-reps-database-listing-card {

        .user-avator {
            width: rem(100);

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #office-rep-user-profile-header,
    .office-rep-user-profile-header
    {
        background: rgb(244,144,126);

        .user-avator {
            width: rem(100);

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #office-reps-profile-toolbar
    {
        @include media-breakpoint-up(md)
        {
            position: relative;

            min-height: rem(50);

            .buttons
            {
                position: absolute;
                top: rem(-20);
                left: rem(25);

                li {
                    a {
                        background: $white;
                    }
                }
            }
        }
    }

    #office-reps-user-sidebar-card
    {
        @include media-breakpoint-up(md)
        {
            max-width: rem(350);
        }
    }
}