.page-user-account{
    .left-panel{
        padding: 20px;
        background: #1bacdb;
        color: #fff;
        .profile-image{
            width: 150px;
            border-radius: 50%;
        }
    }
    .right-panel{
        padding: 20px;
    }
}

.search-result-holder{
    cursor: pointer;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

.search-result-holder:hover{
    background: #034ea2;
    color: #fff;
}
